@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
    background: #f2f2f2;
    color: #333;
    font-family: "Nunito";
}
a {
    color: #333;
    text-decoration: none;
}
.content {
    max-width: 960px;
    margin: 0 auto;
}
nav {
    margin: 10px auto 80px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
}
nav a {
    margin-left: 12px;
}
nav .logo {
    margin-right: auto;
}
footer {
    display: block;
    text-align: center;
    padding: 30px 0;
    margin-top: 60px;
    color: #777;
    border-top: 1px solid #eaeaea;
}

/*=====================*/

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .logoDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App .logo {
    font-size: calc(50px + 2vmin);
    font-weight: 800;
    width: auto;
}
.App .dot {
    font-size: calc(20px + 2vmin);
    margin: 50px 20px 0px 20px;
}

.App .instructions {
    font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
    font-size: calc(10px + 2vmin);
    line-height: 130%;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .mainContainer {
    margin-top: 30px;
}

.App .dailyContainer {
    min-height: 50vh;
    width: 70vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0vh 0vh 10vh 0vh;
}
.dailyContainer .questionOption {
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.App .questionDate {
    font-size: calc(10px + 0.5vmin);
    align-self: flex-end;
    margin: 5px 5px 0px 0px;
}

.App .dailyOption {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-self: flex-end;
}

.color1 {
    background-color: rgb(163, 113, 255);
    box-shadow: 0px 0px 30px rgb(163, 113, 255);
}

.color2 {
    background-color: rgb(134, 218, 255);
    box-shadow: 0px 0px 30px rgb(134, 218, 255);
}

.color3 {
    background-color: rgb(249, 75, 69);
    box-shadow: 0px 0px 30px rgb(249, 75, 69);
}

.color4 {
    background-color: rgb(131, 241, 183);
    box-shadow: 0px 0px 30px rgb(131, 241, 183);
}
.color5 {
    background-color: rgb(143, 200, 255);
    box-shadow: 0px 0px 30px rgb(143, 200, 255);
}
.color6 {
    background-color: rgb(245, 102, 189);
    box-shadow: 0px 0px 30px rgb(245, 102, 189);
}

.color7 {
    background-color: rgb(255, 95, 110);
    box-shadow: 0px 0px 30px rgb(255, 95, 110);
}

.color8 {
    background-color: rgb(255, 243, 111);
    box-shadow: 0px 0px 30px rgb(255, 243, 111);
}

.color9 {
    background-color: rgb(99, 255, 229);
    box-shadow: 0px 0px 30px rgb(99, 255, 229);
}

.historicalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historicalContainer .history {
    font-size: calc(30px + 2vmin);
    font-weight: bold;
    margin-bottom: 5vh;
}
