.logoDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
}

.logo {
  font-size: calc(50px + 2vmin);
  font-weight: 800;
  width: auto;
}
.dot {
  font-size: calc(20px + 2vmin);
  margin: 0px 20px 0px 20px;
  padding: 0px 0px 0px 0px;
}

.history {
  font-size: calc(30px + 2vmin);
  font-weight: bold;
  margin-bottom: 5vh;
}

.instructions {
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
  font-size: calc(10px + 2vmin);
  line-height: 130%;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(159, 159, 159);
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: break-word;
  line-height: 1;
  font-size: 3rem;
  max-width: 70vw;
}