.mainContainer {
  margin-top: 30px;
}

.dailyContainer {
  min-height: 30vh;
  width: 70vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  margin: 0vh 0vh 10vh 0vh;
}
.questionOption {
  height: 50vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.questionDate {
  font-size: calc(10px + 0.5vmin);
  align-self: flex-end;
  margin: 5px 5px 0px 0px;
}

.dailyOption {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-self: flex-end;
}

.option {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 2rem;
}

.option:hover {
  filter: brightness(85%);
  cursor: url("../../src/assets/cursor2.png") 25 25, auto;
}

.option:active {
  filter: brightness(65%);
  cursor: url("../../src/assets/cursor2.png") 12 12, auto;
}

.color1 {
  background-color: rgb(163, 113, 255);
  box-shadow: 0px 0px 30px rgb(163, 113, 255);
}

.color2 {
  background-color: rgb(0, 119, 168);
  box-shadow: 0px 0px 30px rgb(0, 119, 168);
}

.color3 {
  background-color: rgb(176, 56, 53);
  box-shadow: 0px 0px 30px rgb(176, 56, 53);
}

.color4 {
  background-color: rgb(18, 119, 61);
  box-shadow: 0px 0px 30px rgb(18, 119, 61);
}
.color5 {
  background-color: rgb(24, 90, 154);
  box-shadow: 0px 0px 30px rgb(24, 90, 154);
}
.color6 {
  background-color: rgb(245, 102, 189);
  box-shadow: 0px 0px 30px rgb(245, 102, 189);
}

.color7 {
  background-color: rgb(255, 95, 110);
  box-shadow: 0px 0px 30px rgb(255, 95, 110);
}

.color8 {
  background-color: rgb(169, 158, 29);
  box-shadow: 0px 0px 30px rgb(169, 158, 29);
}

.color9 {
  background-color: rgb(22, 128, 42);
  box-shadow: 0px 0px 30px rgb(22, 128, 42);
}

.historicalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: break-word;
  line-height: 1;
  font-size: 3rem;
  max-width: 70vw;
}

.subtext {
  font-size: 2rem;
  margin: 5px;
  color: rgb(204, 204, 204);
}

.revealResult {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
